<div class="container-fluid mt-5 about-style" id="about-id">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-headi">Places</h1>
                <div class="row">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                            <div class="col"> 
                                <img src="https://3.imimg.com/data3/CW/VH/MY-9475592/banglore-500x500.jpg" class="img-fluid" alt="banglore">
                                <p>Bangalore is widely regarded as the "Silicon Valley of India" (or "IT capital of India") because of its role as the nation's leading information technology (IT) exporter.</p>
                            </div>
                            <div class="col"> 
                                <img src="https://www.oyorooms.com/travel-guide/wp-content/uploads/2021/03/Visit-in-Kolkata-1.jpg" class="img-fluid" alt="kolkata"> 
                                <p>Kolkata is home of many religions and races. There are museums, planetariums, libraries, cricket grounds, football stadiums and many places of religious interest. There are amusement parks, night clubs and other entertainment option for all ages.</p> 
                            </div>
                            <div class="col"> 
                                <img src="https://pix8.agoda.net/hotelImages/4990501/-1/48a2893d7015f49fff96953cb7cefd2d.jpg" class="img-fluid" alt="jaipur">
                                <p>Jaipur, popularly known as the Pink City of India, is the largest city in the state of Rajasthan. It is also the capital of Rajasthan. Known for Hawa Mahal, Jal Mahal, Amer Fort, Jantar Mantar and several other places to visit, Jaipur has numerous stories to tell.</p>  
                            </div>
                            <div class="col"> 
                                <img src="https://r3w5i9w3.rocketcdn.me/wp-content/uploads/2021/02/goa-1024x683.jpg" class="img-fluid" alt="goa">
                                <p>Goa is famous for adventure water sports, Goa offers the best water sports and other adventures sports such as scuba diving, paragliding, parasailing, banana boat riding and snorkelling.</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>